img
{
	visibility: hidden;
	display: none;
}

canvas
{
	float: left;
}

p
{
	font-size: 16pt;
}

h2
{
	font-size: 30pt;
	color: red;
}

#score
{
	position: absolute;

	top: 525px;
	left: 150px;
}

#turns
{
	position: absolute;

	top: 475px;
	left: 60px;
}
